In [76]:
import pandas as pd
import numpy as np

import torch
import torch.nn as nn

In [77]:
train = pd.read_csv("SGCtrain.csv")
train

,laufkont,laufzeit,moral,verw,hoehe,sparkont,beszeit,rate,famges,buerge,...,verm,alter,weitkred,wohn,bishkred,beruf,pers,telef,gastarb,kredit
0,1,18,4,2,1049,1,2,4,2,1,...,2,21,3,1,1,3,2,1,2,1
1,1,9,4,0,2799,1,3,2,3,1,...,1,36,3,1,2,3,1,1,2,1
2,1,12,4,0,2122,1,3,3,3,1,...,1,39,3,1,2,2,1,1,1,1
3,1,12,4,0,2171,1,3,4,3,1,...,2,38,1,2,2,2,2,1,1,1
4,1,10,4,0,2241,1,2,1,3,1,...,1,48,3,1,2,2,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,12,0,3,6199,1,3,4,3,1,...,2,28,3,1,2,3,2,2,2,0
696,1,24,2,0,2303,1,5,4,3,2,...,1,45,3,2,1,3,2,1,2,0
697,4,21,4,0,12680,5,5,4,3,1,...,4,30,3,3,1,4,2,2,2,0
698,2,12,2,3,6468,5,1,2,3,1,...,4,52,3,2,1,4,2,2,2,0
699,1,30,2,2,6350,5,5,4,3,1,...,2,31,3,2,1,3,2,1,2,0

In [78]:
# Annahme: Ihre CSV-Datei hat 20 Spalten (Features) und 100 Zeilen (Datensätze)
np_train = np.genfromtxt('SGCtrain.csv', delimiter=',', skip_header=1)

# Sie können die Daten nun verwenden, z.B.:
features = np_train[:, :-1]  # Alle Spalten außer der letzten (Annahme: letzte Spalte ist die Zielvariable)
labels = np_train[:, -1]  # Die letzte Spalte als Zielvariablen

In [79]:
test = pd.read_csv("SGCtest.csv")
test

,laufkont,laufzeit,moral,verw,hoehe,sparkont,beszeit,rate,famges,buerge,...,verm,alter,weitkred,wohn,bishkred,beruf,pers,telef,gastarb,kredit
0,2,12,2,9,841,2,4,2,2,1,...,1,23,3,1,1,2,2,1,2,1
1,1,11,4,0,3905,1,3,2,3,1,...,1,36,3,1,2,3,1,1,2,1
2,1,6,2,3,2647,3,3,2,3,1,...,1,44,3,1,1,3,1,1,2,1
3,4,11,4,0,7228,1,3,1,3,1,...,2,39,3,2,2,2,2,1,2,1
4,1,6,4,0,4716,5,2,1,3,1,...,1,44,3,2,2,2,1,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,2,24,2,3,2039,1,2,1,4,1,...,2,22,3,2,1,3,2,2,2,0
296,2,48,4,2,5096,1,3,2,2,1,...,3,30,3,2,1,4,2,2,2,0
297,1,18,2,3,1882,1,3,4,2,1,...,3,25,1,1,2,3,2,1,2,0
298,2,24,2,1,12579,1,5,4,2,1,...,4,44,3,3,1,4,2,2,2,0
299,1,24,2,3,1987,1,3,2,3,1,...,1,21,3,1,1,2,1,1,2,0

In [80]:
# Annahme: Ihre CSV-Datei hat 20 Spalten (Features) und 100 Zeilen (Datensätze)
np_test = np.genfromtxt('SGCtest.csv', delimiter=',', skip_header=1)

# Sie können die Daten nun verwenden, z.B.:
features = np_test[:, :-1]  # Alle Spalten außer der letzten (Annahme: letzte Spalte ist die Zielvariable)
labels = np_test[:, -1]  # Die letzte Spalte als Zielvariablen

In [119]:
# In PyTorch-Tensoren umwandeln
X_train = torch.Tensor(np_train[:, :-1])
y_train = torch.LongTensor(np_train[:, -1])

X_test = torch.Tensor(np_test[:, :-1])
y_test = torch.LongTensor(np_test[:, -1])

In [120]:
class DeepNeuralNetwork(nn.Module):
    def __init__(self, input_size, hidden_size, num_classes):
        super(DeepNeuralNetwork, self).__init__()
        self.fc1 = nn.Linear(input_size, hidden_size)
        self.relu = nn.ReLU()
        self.fc2 = nn.Linear(hidden_size, hidden_size)
        self.fc3 = nn.Linear(hidden_size, num_classes)
        
    def forward(self, x):
        out = self.fc1(x)
        out = self.relu(out)
        out = self.fc2(out)
        out = self.relu(out)
        out = self.fc3(out)
        return out

# Hyperparameter
# Anzahl der Features
num_features = np_train.shape[1] - 1  # Eine Spalte für die Zielvariable abziehen

# Hyperparameter
input_size = num_features
hidden_size = 128  # Anzahl der Neuronen in der versteckten Schicht
num_classes = 2  # Anzahl der Klassen (gut vs. schlecht)

# Modell initialisieren
model = DeepNeuralNetwork(input_size, hidden_size, num_classes).to(device)

In [121]:
learning_rate = 0.0001  # Reduzierte Lernrate
optimizer = torch.optim.Adam(model.parameters(), lr=learning_rate)

In [109]:
train_loader = torch.utils.data.DataLoader(dataset=np_train, batch_size=64, shuffle=True)
test_loader = torch.utils.data.DataLoader(dataset=np_test, batch_size=64, shuffle=False)

In [122]:
def train_model(model, X_train, y_train, num_epochs, learning_rate):
    criterion = nn.CrossEntropyLoss()
    optimizer = torch.optim.SGD(model.parameters(), lr=learning_rate)
    
    for epoch in range(num_epochs):
        # Forward Pass
        outputs = model(X_train)
        loss = criterion(outputs, y_train)
        
        # Backward und Optimize
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()
        
        # Ausgabe alle 100 Epochen
        if (epoch+1) % 100 == 0:
            print(f'Epoch [{epoch+1}/{num_epochs}], Loss: {loss.item():.4f}')

In [123]:
# Trainiere das Modell
num_epochs = 1000
learning_rate = 0.001

train_model(model, X_train, y_train, num_epochs, learning_rate)

Epoch [100/1000], Loss: 0.6401
Epoch [200/1000], Loss: 0.6348
Epoch [300/1000], Loss: 0.6310
Epoch [400/1000], Loss: 0.6281
Epoch [500/1000], Loss: 0.6259
Epoch [600/1000], Loss: 0.6242
Epoch [700/1000], Loss: 0.6229
Epoch [800/1000], Loss: 0.6220
Epoch [900/1000], Loss: 0.6212
Epoch [1000/1000], Loss: 0.6206